{% extends '::admin.html.twig' %}

{% block title %}Gebruikersgroep bewerken{% endblock %}
{% block subtitle %}{{ userGroup.name }}{% endblock %}

{% form_theme form "BurgovCMSBundle:UserGroup:_form.html.twig" %}

{% block body %}
<form method="POST">
    {{ form_widget(form) }}
    <input type="submit" value="opslaan">
</form>
{% endblock %}

{% block right %}
<ul>
    <li><a href="{{ path('usergroups') }}">Terug naar het overzicht</a></li>
</ul>
{% endblock %}
